
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the book store application</h1>
    <h2>@DateTime.Now.ToString("yyyy-MM-ddThh:mm:ss")</h2>
    <h3>@(3+3)</h3>
    <hr/>
    <h1>Multiline - </h1>
    @{
        int a = 3;
        int b = 4;
        int c = a + b;
    }
    <h1>@c</h1>
    <h2>Here is the @@TagHelper</h2>

</body>
</html>
